footer.footer
  .footer__wrapper
    .footer__divider
    .footer__content__wrapper
      .footer__content
        span(data-animation="title")!=footer.data.content.replace(/\n/g, '</span><span data-animation="title">')
      .footer__button
        a.scrolltop__button(data-animation="title" href="javascript:void(0)" target="")
          span=footer.data.button
    .footer__info__wrapper
      .footer__copyright(data-animation="title")!=footer.data.copyright
      a.footer__mail(data-animation="title" href=`mailto:${footer.data.mail}` target=`_blank`)
        span!=footer.data.mail
      .footer__info__box
        each social in footer.data.social
          a.footer__social(data-animation="title" href=`${social.link.url}` target=`${social.link.target}`)
            span=social.label
