extends ../partial/layout

block variables
  - var template = 'detail'

block content
  .detail(data-background="#ffffff" data-color="#000000")
    .detail__wrapper
      section.detail__content__wrapper
        if project.data.title
          .detail__title
            .detail__title__wrapper(data-animation="title")!=project.data.title
        if project.data.description
          .detail__description(data-animation="title")!=project.data.description.replace(/\n/g, '<br>')
      section.detail__content__wrapper
        .detail__info
          .detail__info__project
            .detail__info__project__label(data-animation="title") Project
            if project.data.client
              .detail__info__project__item(data-animation="title")!=`Client: ${project.data.client}`
            if project.data.agency
              .detail__info__project__item(data-animation="title")!=`Agency: ${project.data.agency}`
            if project.data.illustrator
              .detail__info__project__item(data-animation="title")!=`Illustrator: ${project.data.illustrator}`
            if project.data.project
              .detail__info__project__item(data-animation="title")!=`Project: ${project.data.project}`
            if project.data.year
              .detail__info__project__item(data-animation="title")!=`Year: ${project.data.year}`
          .detail__info__role
            .detail__info__role__label(data-animation="title") Role
            if project.data.role
              .detail__info__role__item(data-animation="title")!=project.data.role.replace(/\n/g, '<br>')
        if project.data.body
          .detail__gallery
            each content in project.data.body
              if content.slice_type == 'gallery'
                each media in content.items
                  if media.image.alt && media.image.alt.substr(0,6) == 'gdrive'
                    .detail__gallery__media
                      video.detail__gallery__media__image(autoplay loop playsinline muted defaultMuted oncontextmenu="return false;" preload="auto" poster=`${media.image.url}`)
                        source(src=`https://drive.google.com/u/1/uc?id=${media.image.alt.replace("gdrive-","")}&export=download` type="video/mp4")
                  else if media.image.dimensions.width > media.image.dimensions.height
                    figure.detail__gallery__media
                      img.detail__gallery__media__image(data-animation="highlight" alt=media.image.alt data-src=media.image.url)
                  else
                    figure.detail__gallery__media--2
                      img.detail__gallery__media__image(data-animation="highlight" alt=media.image.alt data-src=media.image.url)

      include ../partial/footer

