extends ../partial/layout

block variables
  - var template = 'projects'

block content
  .projects(data-background="#205E61" data-color="#f2f2f2")
    .projects__wrapper
      //- .projects__titles
      //-   each project, index in projects
      //-     .projects__titles__label!=`${home.data.project}<br>${Numbers(index)}`
      //-     .projects__titles__title=project.data.title

      //-   each project, index in projects
      //-     .projects__titles__label!=`${home.data.project}<br>${Numbers(index)}`
      //-     .projects__titles__title=project.data.title

      //-   each project, index in projects
      //-     .projects__titles__label!=`${home.data.project}<br>${Numbers(index)}`
      //-     .projects__titles__title=project.data.title

      .projects__gallery
        .projects__gallery__wrapper
          each project, index in projects
            each client in project.data.clients
              a.projects__gallery__link(href=Link(client.clients_client))
                figure.projects__gallery__media(data-index=index)
                  img.projects__gallery__media__image(data-src=client.clients_client.data.image.url alt=client.clients_client.data.image.alt)

      .projects__content
        each project, index in projects
          article.projects__article(class=`${index === 0 ? 'projects__article--active' : ''}`)
            //- h1.projects__article__title=`${project.data.title} ${home.data.project}`
            h1.projects__article__title=`${project.data.title}`
            p.projects__article__description=project.data.description

      .projects__mobile
        each project, index in projects
          .projects__mobile__item
            .projects__mobile__item__label!=`${home.data.project} ${project.data.pid}`
            .projects__mobile__item__title=project.data.title
