extends ../partial/layout

block variables
  - var template = 'services'

block content
  .services(data-background="#f4f4f4" data-color="#000000")
    .services__wrapper
      each section in services.data.body
        if section.slice_type == 'content'
          section.services__content(class=`${section.primary.type === 'Left' ? 'services__content--left' : section.primary.type === 'Right' ? 'services__content--right' : 'services__content--background'}`)
            .services__content__wrapper
              if section.primary.label
                p.services__content__label(data-animation="label")=section.primary.label
              if section.primary.title
                h2.services__content__title(data-animation="title")
                  span!=section.primary.title.replace(/\n/g, '</span><span>')
              if section.primary.description
                .services__content__description(data-animation="paragraph")
                  span!=section.primary.description.replace(/\n/g, '</span><span>')
              if section.primary.text
                if section.primary.link.slug
                  a.services__content__button(href=section.primary.link.slug)=section.primary.text
                else
                  a.services__content__button(href="javascript:void(0)")=section.primary.text
            figure.services__content__media
              img.services__content__media__image(alt=section.primary.image.alt src=section.primary.image.url)
        if section.slice_type == 'gallery'
          section.services__gallery
            h2.services__gallery__title(data-animation="title")!=section.primary.title.replace(/\n/g, '<br>')
            .services__gallery__wrapper
              each media in section.items
                figure.services__gallery__media
                  img.services__gallery__media__image(alt=media.image.alt src=media.image.url)
        if section.slice_type == 'lists'
          section.services__lists
            p.services__lists__label(data-animation="label")=section.primary.label
            each route in section.items
              .services__lists__box
                h2.services__lists__title(data-animation="title")!=route.item
        if section.slice_type == 'quality'
          section.services__quality
            .service__quality__box
              p.services__quality__label(data-animation="label")=section.primary.label
              p.services__quality__title(data-animation="title")!=section.primary.title.replace(/\n/g, '<br>')
            .service__quality__box
              each quality in section.items
                .service__quality__inner__box
                  p.services__quality__label__right(data-animation="label")
                    span!=quality.label.replace(/\n/g, '</span><span>')
                  p.services__quality__description(data-animation="paragraph")!=quality.description.replace(/\n/g, '<br>')
      include ../partial/footer

